{% extends 'index.html' %}
{% load static %}
{% load herbsTags %}
{% load customTags %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/groupPage.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/showTovar.css' %}" type="text/css">

    <div class="main_group">
        
        <div class="row group_platz">
            {% for f in group %}
            {% if f.category.slug == slug %}
            <div class="row group_cart">
                <div class="col image_group">
                    <a href="{% url 'priceList' f.slug %}"><img class="img-article-left thumb" src="{{f.photo.url}}"></a>
                </div>
                <div class="col text_group">
                    <a href="{% url 'priceList' f.slug %}">
                        <p class="card-title">{{f}}</p>
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
        
        <div class="tovar_platz">
            {% for t in page_obj %}
            {% for group_obj in t.group.all|unique_categories %}
            {% if group_obj.category|lower == slug %}
            <a class="a_group_cart" href="{% url 'tovar' t.slug %}">
                <div class="tovarCart">
                    <img class="tovarCartImg" src="{{t.photo.url}}">
                    <div class="infoTovar">
                        <h5 style="color: white;">{{t}}</h5>
                        <ul class="price">
                            {% if t.tovar_variations.first.price != t.tovar_variations.first.price_after_discount %}
                                <li style="color: white;"><s>{{t.tovar_variations.first.price}} $</s></li>
                                <li style="color: rgb(207, 6, 6);"><b>{{t.tovar_variations.first.price_after_discount|floatformat:2}} $</b></li>
                            {% else %}
                                <li></li>
                                <li style="color: white;"><b>{{t.tovar_variations.first.price}} $</b></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="but_buy">
                        <a class="button_buy_korb add-to-cart" href="{% url "cart_add" %}" data-product-id="{{ t.id }}" data-variation-id={{ t.tovar_variations.first.id}}>
                            {% csrf_token %}
                            <img class="add_in_korb" src="{% static 'images/korb_add.png' %}">
                            <p>Add to cart</p>
                        </a>
                      </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
            {% endfor %}
            
        </div>
        <div class="pagination_block">
            <ul class="pag">
                <!-- Previous Page Link -->
                <li class="{% if page_obj.has_previous %}previousPage{% else %}disabled{% endif %}">
                    {% if page_obj.has_previous %}
                        <a href="?{% change_params page=page_obj.previous_page_number %}">Previous</a>
                    {% else %}
                        <a >Previous</a>
                    {% endif %}
                </li>
        
                <!-- Page Number Links -->
                {% for page in page_obj.paginator.page_range %}
                    {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                        <li id="{% if page_obj.number == page %}numberactive{% else %}number{% endif %}" >
                            {% if page_obj.number != page %}
                                <a href="?{% change_params page=page %}">{{ page }}</a>
                            {% else %}
                                <a >{{ page }}</a>
                            {% endif %}
                            
                        </li>
                    {% endif %}
                {% endfor %}
        
                <!-- Next Page Link -->
                <li class="{% if page_obj.has_next %}nextPage{% else %}disabled{% endif %}">
                    {% if page_obj.has_next %}
                        <a href="?{% change_params page=page_obj.next_page_number %}">Next</a>
                    {% else %}
                        <a >Next</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>


{% endblock %}