{% extends 'index.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/mainPage.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/showTovar.css' %}" type="text/css">

<div class="videofon">
  <video src="{% static 'video/video.mp4' %}" type="video/mp4" autoplay muted loop></video>
  
  <div class="video_text">
    <h1>7 years on the market</h1>
    <p>We have extensive experience in growing
      Realization and distribution of all videos
      planting material</p>
    <h1>Selected planting material</h1>
    <p>We only work with the best
      proven over the years, nurseries
      from Ukraine</p>
    <h1>Quality control</h1>
    <p>All planting material passes the control of seed and quarantine state inspections</p>
  </div>
</div>

<div class="o_nas">
  <div class="about_cart" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <div class="about_img">
      <a><img class="img-article-left thumb" style="cursor:pointer;" src="{% static 'images/about_us_icon.png' %}"></a>
    </div>
    <div class="about_text_special">
        <h2 class="about-title" >About us</h2>
        <p>get to know us</p>
    </div>
  </div>
  
  


  <div class="about_cart">
    <div class="about_img">
      <a href="https://www.ebay.de/str/worldofseeds1/Herbs/_i.html?store_cat=3942334419&_tab=feedback" target="_blank" rel="noopener noreferrer"><img class="img-article-left thumb" src="{% static 'images/reviews_icon.png' %}"></a>
    </div>
    <div class="about_text">
      <a href="https://www.ebay.de/str/worldofseeds1/Herbs/_i.html?store_cat=3942334419&_tab=feedback" target="_blank" rel="noopener noreferrer">
        <h2 class="about-title">Review</h2>
      </a>
      <a href="https://www.ebay.de/str/worldofseeds1/Herbs/_i.html?store_cat=3942334419&_tab=feedback" target="_blank" rel="noopener noreferrer">
        <p>what our Clients say</p>
      </a>
    </div>
  </div>
  <div class="about_cart">
    <div class="about_img">
      <a href="https://www.ebay.de/str/worldofseeds1/Herbs/_i.html?store_cat=3942334419" target="_blank" rel="noopener noreferrer"><img class="img-article-left thumb" src="{% static 'images/shop_icon.png' %}"></a>
    </div>
    <div class="about_text">
      <a href="https://www.ebay.de/str/worldofseeds1/Herbs/_i.html?store_cat=3942334419" target="_blank" rel="noopener noreferrer">
        <h2 class="about-title">eBay Shop</h2>
      </a>
      <a href="https://www.ebay.de/str/worldofseeds1/Herbs/_i.html?store_cat=3942334419" target="_blank" rel="noopener noreferrer">
        <p>explore our eBay store</p>
      </a>
    </div>
  </div>
</div>

  <div class="karusel_sale">

    <ul class="nav nav-tabs nav_sale">
      <a id="salenav"></a>
      {% for i in sale_cat %}
      {% if value == i.pk %}
      <li class="nav-item" style="background-color: rgb(84, 121, 40);">
        <a class="nav-link active" id="active_sale" aria-current="page" href="?category={{i.pk}}#salenav">{{i}}</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link link_sale" href="?category={{i.pk}}#salenav">{{i}}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>

    <div id="carouselExampleIndicators" style="background-color:  rgb(84, 121, 40);" class="carousel slide">

      <div class="carousel-inner">
        <div class="carousel-item active" id="platz_sale_cards">
          {% for i in page_obj %}
          <a class="a_group_cart" href="{% url 'tovar' i.slug %}">
            <div class="tovarCart">
              <img class="tovarCartImg" src="{{i.photo.url}}">
              <div class="infoTovar">
                <h5 style="color: white;">{{i}}</h5>
                <ul class="price">
                  {% if i.sale_category.pk == 3 %}
                    <li style="color: white;"><s>{{i.price}} €</s></li>
                    <li style="color: rgb(207, 6, 6);"><b>{{i.price_after_discount|floatformat:2}} €</b></li>
                  {% else %}
                    <li></li>
                    <li style="color: white;"><b>{{i.price}} €</b></li>
                  {% endif %}
                </ul>
              </div>
              <div class="but_buy">
                <a class="button_buy_in_click" href="#">buy in click</a>
                <a class="button_buy_korb add-to-cart" href="{% url "cart_add" %}" data-product-id="{{ i.id }}">
                    {% csrf_token %}
                    <img class="add_in_korb" src="{% static 'images/korb_add.png' %}">
                </a>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>

        <div class="carousel-indicators" style="margin-left: 0;">
            {% for page in page_obj.paginator.page_range %}
            {% if page_obj.number == page %}
            <button type="button" data-bs-target="#carouselExampleIndicators" href="?page={{page}}&category={{value}}#salenav" class="active"
              aria-current="true" aria-label="Slide {{page}}"></button>
            {% else %}
            <a type="button" data-bs-target="#carouselExampleIndicators" href="?page={{page}}&category={{value}}#salenav"
              aria-label="Slide {{page}}"></a>
            {% endif %}
            {% endfor %}
        </div>

        {% if page_obj.has_previous %}
        <a class="carousel-control-prev" style="width: 60px;" type="button" data-bs-target="#carouselExampleIndicators"
          href="?page={{ page_obj.previous_page_number }}&category={{value}}#salenav">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        {% endif %}
        {% if page_obj.has_next %}
        <a class="carousel-control-next" style="width: 60px;" type="button" data-bs-target="#carouselExampleIndicators"
          href="?page={{ page_obj.next_page_number }}&category={{value}}#salenav">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
        {% endif %}
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Allow me to introduce myself</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Вставьте видео с YouTube -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/RnhgFPq_vJ8?si=z7SXgjmLrAyudBiu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <!-- Описание -->
        <p>Hello everyone) My name is Ira and I own this store ) I really love natural things and want to share with you) I was born in the beautiful country of Ukraine and in my homeland there are many things that the WORLD should see)) Pharmacy preparations, eco tinctures, organic herbs, delicious honey and many other products.
          You can always write me a personal message and ask for a product that I do not have for sale, I assure you that I will always be happy to help you find everything you need)
          
          Best regards Irina</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nice to meet you</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}


