
{% extends 'index.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/tovar1.css' %}" type="text/css">

<div class="tovarPage">

    {% for t in tov %}
        {% if t.slug == slug %}
        <div class="tovarInfo">
            <!-- Слайдер для изображений -->
            <div class="image-slider">
                <div class="slider">
                    <!-- Основная фотография -->
                    <div class="slide">
                        <img src="{{ t.photo.url }}" alt="Основное фото товара">
                    </div>
                    <!-- Дополнительные фотографии -->
                    {% for photo in t.photos.all %}
                        <div class="slide">
                            <img src="{{ photo.photo.url }}" alt="Фото товара">
                        </div>
                    {% endfor %}
                </div>
                <button class="prev">&#10094;</button>
                <button class="next">&#10095;</button>
                <!-- Индикаторы -->
                <div class="indicators" id="indicators"></div>
            </div>
            <div class="mainInfo">
                <div class="tovarName">
                    <h1>{{ t }}</h1>
                </div>

                <div class="show_price_and_var">
                    <!-- Отображение цены -->
                    <div class="price_platz">
                        <ul class="price">
                            <ul class="price">
                                    <li id="old-price" style="display: none;"><span></span>$</li>
                                    <li><span id="price">{{ variations_with_discount.0.price_after_discount|floatformat:2 }}</span></li>
                                    <li id="econom_info" style="display: none;"><span></span></li>
                            </ul>
                        </ul> 
                        <!-- Скрытое поле для хранения ID товара и CSRF-токена -->
                        <input type="hidden" id="product-id" value="{{ t.id }}">
                        <div class="but_buy">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <!-- Кнопка будет создана динамически -->
                        </div>
                    </div>
                    <!-- Выпадающий список для выбора варианта товара -->
                    <div class="var_platz">
                        <label for="variation">Choose size:</label>
                        <select id="variation" name="variation">
                            {% for variation in variations_with_discount %}
                                <option value="{{ variation.id }}" data-price="{{ variation.price|floatformat:2 }}" data-sellprice="{{variation.price_after_discount|floatformat:2}}">
                                    {{ variation.size }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="kurz_info">
                    <ul style="background-color: rgba(126, 175, 65, 0.2);">
                        <li>Condition</li>
                        <li>{{ t.condition_of_product }}</li>
                    </ul>
                    <ul>
                        <li>Main Purpose</li>
                        <li>{{ t.main_purpose }}</li>
                    </ul>
                    <ul style="background-color: rgba(126, 175, 65, 0.2);">
                        <li>Active Ingredients</li>
                        <li>{{ t.active_ingredients }}</li>
                    </ul>
                    <ul>
                        <li>Department</li>
                        <li>{{ t.department }}</li>
                    </ul>
                    <ul style="background-color: rgba(126, 175, 65, 0.2);">
                        <li>Expiration Date</li>
                        <li>{{ t.expiration_date }}</li>
                    </ul>
                    <ul>
                        <li>Country/Region of Manufacture</li>
                        <li>{{ t.region_of_manufacture }}</li>
                    </ul>
                    
                </div>
            </div> 
        </div>
        <!-- Accordion -->
        <div class="accordion_platz">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Benefits of the product
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ t.product_benefits|safe }}
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Ingredients
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ t.ingredients|safe }}
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Usage instructions
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ t.usage_instructions|safe }}
                    </div>
                </div>
                </div>
            </div>
        </div>
        {% endif %}  
    {% endfor %}

    <script src="{% static "deps/js/show-tovar.js" %}"></script>

{% endblock %}