{% extends 'index.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/tovar1.css' %}" type="text/css">

<div class="tovarPage">

    {% for t in tov%}
        {% if t.slug == slug %}
        <div class="tovarName">
           <h1>{{t}}</h1>
        </div>
        <div class="tovarInfo">
            <!-- Слайдер для изображений -->
            <div class="image-slider">
                <div class="slider">
                    <!-- Основная фотография -->
                    <div class="slide">
                        <img src="{{ t.photo.url }}" alt="Основное фото товара">
                    </div>
                    <!-- Дополнительные фотографии -->
                    {% for photo in t.photos.all %}
                        <div class="slide">
                            <img src="{{ photo.photo.url }}" alt="Фото товара">
                        </div>
                    {% endfor %}
                </div>
                <button class="prev">&#10094;</button>
                <button class="next">&#10095;</button>
                <!-- Индикаторы -->
                <div class="indicators" id="indicators"></div>
            </div>
            <ul class="mainInfo">
                <li class="content">{{t.content}}</li>
                <hr>
                <ul class="price">
                    {% if t.discount != 0 %}
                        <li style="color: white;"><b>{{t.price_after_discount|floatformat:2}} €</b></li>
                        <li style="color: white;"><s>{{t.price}} €</s></li>
                    {% else %}
                        <li style="color: white;"><b>{{t.price}} €</b></li>
                    {% endif %}
                </ul>
            <div class="but_buy">
                <a class="button_buy_in_click" href="#">buy in click</a>
                <a class="button_buy_korb add-to-cart" href="{% url "cart_add" %}" data-product-id="{{ t.id }}">
                    {% csrf_token %}
                    <img class="add_in_korb" src="{% static 'images/korb_add.png' %}">
                </a>
            </div>
        </div>
        {% endif %}  
    {% endfor %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var slides = document.querySelectorAll('.slide');
            var indicatorsContainer = document.getElementById('indicators');
            var currentIndex = 0;
            var totalSlides = slides.length;
        
            // Создание индикаторов
            for (var i = 0; i < totalSlides; i++) {
                var indicator = document.createElement('span');
                indicator.className = 'indicator';
                indicatorsContainer.appendChild(indicator);
            }
        
            function showSlide(index) {
                slides.forEach((slide, i) => {
                    if (i === index) {
                        slide.classList.add('active'); // Добавить класс active для отображения
                    } else {
                        slide.classList.remove('active'); // Убрать класс active для скрытия
                    }
                });
        
                var indicators = document.querySelectorAll('.indicator');
                indicators.forEach((indicator, i) => {
                    indicator.classList.toggle('active', i === index);
                });
            }
        
            document.querySelector('.next').addEventListener('click', function() {
                currentIndex = (currentIndex + 1) % totalSlides;
                showSlide(currentIndex);
            });
        
            document.querySelector('.prev').addEventListener('click', function() {
                currentIndex = (currentIndex - 1 + totalSlides) % totalSlides;
                showSlide(currentIndex);
            });
        
            // Показать первый слайд по умолчанию
            showSlide(currentIndex);
        });
        </script>

{% endblock %}