asgiref==3.7.2
Django==4.1.7
dnspython==2.6.1
evdev==1.7.0
greenlet==3.0.3
Pillow==10.1.0
pony==0.7.17
psycopg==3.1.18
psycopg2-binary==2.9.9
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.15
pymongo==4.7.3
pynput==1.7.6
python-xlib==0.33
six==1.16.0
SQLAlchemy==2.0.30
sqlparse==0.4.4
typing-extensions==4.8.0
ufw==0.36
