.mainer{
    display: grid;
    grid-template-rows: 20%, 70%, 10%;

}
header{
    grid-row-start: 1;
    grid-row-end: 2;
}
section{
    grid-row-start: 2;
    grid-row-end: 3;
}
footer{
    background-color: white;
    color: rgb(126, 175, 65, 1);
    grid-row-start: 3;
    grid-row-end: 4;
}

.container-fluid{
    font-size: large;
    margin: 0;
    padding-left: 50px;
}
.container-fluid>a>img{
    height: 150px;
}

.logo_panel>form>button:hover{
    background-color: rgb(126, 175, 65, 1);
    border-color: rgb(126, 175, 65, 1);
}
.logo_panel>form>button{
    color: rgb(126, 175, 65, 1);
    border-color: rgb(126, 175, 65, 1);
}
.logo_panel>form>input{
    width: 25em;
}
.logo_panel>ul>li>a{
    font-size: large;
    color: rgb(126, 175, 65, 1);
}
.logo_panel>ul>li>a:hover{
    color: rgb(84, 121, 40);

}
.logo_panel{
    display: flex;
    justify-content: center;

}
.logo_panel>ul{
    margin-left: 3em;
    padding-right: 3em;
}
.modal-body {
    z-index: 3 !important;
}
.nav-item{
    cursor: pointer;
}


.nav_panel{
    background-color: rgb(126, 175, 65, 1);
}
.nav_panel>ul>li>a{
    margin-left: 1em;
    margin-right: 1em;
    color: white;
}
.nav_panel>ul>li:hover{
    color: white;
    background-color: rgb(84, 121, 40);
}
 
.logo_search{
    z-index: 2;
}
.main_panel{
    z-index: 2;
    padding-bottom: 0;
}
.categories{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
}


.familia_drop{
    display: none;
}
.nav_panel>ul>li:hover .familia_drop{
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: rgb(84, 121, 40);
    position: absolute;
    z-index: 2;
    top: 100;
    left: 0;
    width: 100%;

}
.platz{
    margin: 0;
    margin-left: 3em;
    padding: 0;
}

.cart{
    width: 300px;
    background-color: white;
    margin: 1em;
    margin-left: 0;
    border-radius: 16px;
    background-color: rgb(126, 175, 65, 1);
}
.text_fam{
    margin: auto;
}
.image_fam{
    margin: auto;
}
.image_fam>a>img{
    max-width: 100px;
    max-height: 100px;
}
.text_fam>a{
    text-decoration: none;
    color: white;
}
.cart:hover{
    animation: myAnim 2s ease 0s 1 normal forwards;
    box-shadow: 0px 1px 17px 8px #FFFFFF;
}
@keyframes myAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}