video{
    width: 100%;
    height: 25vw;
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
    

}
.video_text{
    top: 15vw;
    left: 0;
    margin: 2em;
    position: absolute;
    z-index: 1;
    color: white;
}
.video_text>p{
    font-size: 1.5vw;
}
.video_text>h1{
    font-size: 2.5vw;
    font: bold;
}
.o_nas{
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}
.about_cart{
    display: flex;
    margin: 1em;
    
}
.about_cart a{
    text-decoration: none;
    color: rgb(126, 175, 65, 1);
}
.about_text a p{
    font-size: 1.5vw;
}
.about_text a h2{
    font-size: 2.5vw;
}
.about_img a img{
    width: 9vw;
    
}
.about_img{
    margin: auto;
    margin-left: 1em;
    margin-right: 1em;
}
.about_text{
    margin: auto;
}
.about_cart:hover{
    transform: scale(1.05);
}
.karusel_sale{
    position: relative;
    width: 100%;
}
#platz_sale_cards{
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}
.carousel-indicators{
    width: 100%;
}
.price{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    padding-right: 1em;

}
.but_buy{
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    margin-bottom: 1em;
}
.sale_cart{
    display: inline-block;
    margin: 1em;
    width: 260px;
    border-radius: 16px;
    border: 1px solid white;
    background-color: rgb(126, 175, 65, 1);
    overflow: hidden;
}
.sale_cart_img{
    width: 100%;
    padding: 0;
}
.info_sale>p{
    color: white;
}
.nav_sale{
    background-color: rgb(126, 175, 65, 1);
    border-style: none;
    
}
#active_sale{
    background-color: rgb(84, 121, 40);
    border-style: none;
    color: white;
}
#active_sale:hover{
    border-style: none;
}
.link_sale:hover{
    color: white;

}
.link_sale{
    color: white;
}
.info_sale{
    margin-left: 1em;
    margin-top: 1em;
}
.button_buy{
    background-color: rgb(84, 121, 40);
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 16px;
}
.sale_cart:hover{
    transform: scale(1.02);
}
.but_buy:hover{
    transform: scale(1.02);
}
.a_sale_cart{
    text-decoration: none;
}
@media (max-width: 990px) {
    .video_text{
        top: 38vw;
    }
    .about_cart:hover{
        transform:none;
    }
}
@media (max-width: 860px) {
    .video_text{
        top: 21em;
    }
    video{
        width: 100%;
        height: 12em;
    }
    .video_text>p{
        font-size: 1.5vw;
    }
    .video_text>h1{
        font-size: 2.5vw;
        font: bold;
    }
}
@media (max-width: 660px) {
    .video_text>p{
        font-size: 1.7vw;
    }
    .video_text>h1{
        font-size: 2.7vw;
        font: bold;
    }
    .about_text a p{
        font-size: 3vw;
    }
    .about_text a h2{
        font-size: 4vw;
    }
    .about_img a img{
        width: 10vw;
        
    }
}