.tovarInfo{
    display: flex;
}
.image-slider {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-bottom: 1em;
}
.slider {
    position: relative;
    width: 100%;
}
.slide {
    display: none; /* Скрыть все слайды по умолчанию */
}

.slide.active {
    display: flex; /* Отображать только активный слайд как flex-контейнер */
    justify-content: center; /* Выравнивание содержимого по центру */
    align-items: center; /* Выравнивание содержимого по центру вертикально */
}

.slide>img{
    width: 30vw;
    height: 30vw;
    margin-left: 3.5em;
    margin-right: 3.5em;
}
button.prev, button.next {
    position: absolute;
    top: 50%;
    width: 40px; /* Увеличиваем размер кнопок для удобства */
    height: 40px;
    color: white;
    background: rgb(126, 175, 65, 1); /* Полупрозрачный фон для кнопок */
    border: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: background 0.3s ease, color 0.3s ease;
}
button.prev {
    left: 10px;
}
button.next {
    right: 10px;
}
button.prev:hover, button.next:hover {
    background: rgb(126, 175, 65, 1); /* Более темный фон при наведении */
}
.indicators {
    text-align: center;
    margin-top: 10px;
}
.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}
.indicator.active {
    background-color: #717171;
}
.tovarName{
    margin-left: 2em;
    margin-top: 1em;
    color: rgb(126, 175, 65, 1);
}
.tovarPage{
    background-color: rgb(84, 121, 40);
    display: inline-block;
    width: 100%;
}
.mainInfo{
    list-style: none;
    color: white;
}
.salePrice{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.price{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
    padding-right: 1em;
    font-size: 200%;
}
.content{
    font-size: large;
}
.button_buy_korb{
    background-color: rgb(126, 175, 65, 1);
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    border-radius: 16px;
    padding: 5px;
    margin-right: 33px;
    margin-bottom: 10px;
}
.button_buy_in_click{
    background-color: rgb(126, 175, 65, 1);
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    border-radius: 16px;
    padding: 8px;
    margin-right: 33px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.add_in_korb{
    max-width: 30px;
}
.but_buy{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.button_buy_in_click:hover{
    transform: scale(1.05);
}
.button_buy_korb:hover{
    transform: scale(1.05);
}
@media (max-width: 800px) {
    .tovarInfo{
        display: flex;
        flex-direction: column;
    }
    .slide>img{
        width: 20em;
        height: 20em;
        margin-left: 1em;
        margin-right: 1em;
    }
}