.tovarInfo{
    display: flex;
}
.image-slider {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin-bottom: auto;
    margin-top: 1em;
}
.slider {
    position: relative;
    width: 100%;
}
.slide {
    display: none; /* Скрыть все слайды по умолчанию */
}

.slide.active {
    display: flex; /* Отображать только активный слайд как flex-контейнер */
    justify-content: center; /* Выравнивание содержимого по центру */
    align-items: center; /* Выравнивание содержимого по центру вертикально */
    background-color: white;
    margin-left: 1em;
    margin-right: 0.7em;
    border-radius: 4px; /* немного закруглить углы */
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3); /* Настраиваем тень */
}

.slide>img{
    width: 30vw;
    height: 30vw;
    margin-left: 3.5em;
    margin-right: 3.5em;
}
button.prev, button.next {
    position: absolute;
    top: 50%;
    width: 40px; /* Увеличиваем размер кнопок для удобства */
    height: 40px;
    color: white;
    background: rgb(126, 175, 65, 1); /* Полупрозрачный фон для кнопок */
    border: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: background 0.3s ease, color 0.3s ease;
}
button.prev {
    left: 30px;
}
button.next {
    right: 30px;
}
button.prev:hover, button.next:hover {
    background: rgb(126, 175, 65, 1); /* Более темный фон при наведении */
}
.indicators {
    text-align: center;
    margin-top: 10px;
}
.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}
.indicator.active {
    background-color: #717171;
}
.tovarName{
    background-color: white;
    border-radius: 4px; /*  немного закруглить углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Настраиваем тень */
    margin-bottom: 0.7em;
}
.tovarName h1{
    margin: 0;
    padding: 0.1em;
}
.tovarPage{
    background-color: rgb(84, 121, 40);
    display: inline-block;
    width: 100%;
}
.mainInfo{
    background-color: rgb(84, 121, 40);
    list-style: none;
    margin-top: 1em ;
    width: 54%;
    margin-bottom: 2em ;
}
.show_price_and_var{
    display: flex;
    height: 13.8vw;
    justify-content: space-between;
    background-color: white;
    border-radius: 4px; /* немного закруглить углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Настраиваем тень */
    overflow: hidden;
    flex-wrap: nowrap;
}
.kurz_info{
    background-color: white;
    border-radius: 4px; /*  немного закруглить углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Настраиваем тень */
    margin-top: 0.7em;
}
.kurz_info ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-right: 2em;
    font-size: 1.17vw;
}
.salePrice{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.price{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding-right: 1em;
    font-size: 3vw;
    flex: 1;
    padding-left: 0.1vw;
}
#old-price{

    color: #999;
    text-decoration: line-through; 
    font-size: 1.5vw; 
    margin-top: 1vw;
    margin-left: 0.4em;
    margin-bottom: -1.2vw;
}
#price{
    margin-bottom: 0;
    margin-left: 0.1em;
    font-size: 3vw;
}
#econom_info{
    color:rgb(126, 175, 65, 1);
    font-size: 1.5vw; 
    margin-left: 0.4em;
    margin-top: -1.1vw;
}
.content{
    font-size: medium;
}
.button_buy_korb{
    background-color: rgb(126, 175, 65, 1);
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    padding: 5px;
    margin-right: 33px;
    margin-bottom: 10px;
    width: 16vw;
    height: 3.5vw;
    font-size: 1.3vw;
}
.button_buy_in_click{
    background-color: rgb(126, 175, 65, 1);
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    border-radius: 16px;
    padding: 8px;
    margin-right: 33px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.add_in_korb{
    max-width: 30px;
}
.add-in-corb-text {
    margin: auto;
    margin: 0.5em;
}

.but_buy{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 0.5em;
    margin-top: -0.3em;
}
.button_buy_in_click:hover{
    transform: scale(1.05);
}
.button_buy_korb:hover{
    transform: scale(1.05);
}
.var_platz{
    margin-top: 1.5em;
    margin-right: 3em;
    font-size: 1.3vw;
}
.accordion_platz{
    background-color: rgb(84, 121, 40);
}
.accordion{
    margin: 1em;
}
.accordion-button:focus{
    outline: none;
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    background-color: rgb(126, 175, 65, 1); 
    color: white; 
}
@media (max-width: 800px) {
    .tovarName{
        margin-left: 1em;
        margin-right: 1em;
        max-width: 35.8em;
    }
    
    .tovarInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .mainInfo{
        width: 100%;
    }
    .show_price_and_var{
        height: auto;
        margin-left: 1em;
        margin-right: 1em;
        max-width: 35.8em;
    }
    #old-price{
    
        font-size: medium; 
        margin-top: 1vw;
        margin-left: 0.4em;
        margin-bottom: -1.7vw;
    }
    #price{
        margin-bottom: 0;
        margin-left: 0.1em;
        font-size: xx-large;
    }
    #econom_info{
        color:rgb(126, 175, 65, 1);
        font-size: medium; 
        margin-left: 0.4em;
        margin-top: -1.6vw;
    }
    .button_buy_korb{
        padding: 5px;
        margin-right: 33px;
        margin-bottom: 10px;
        width: 15em;
        height: 3em;
        font-size: medium;
    }
    .kurz_info{
        margin-left: 1em;
        margin-right: 1em;
        max-width: 35.8em;
        margin-bottom: 0;
    }
    .kurz_info ul{
        font-size: initial;
    }
    .var_platz{
        font-size:  medium;
    }
    .accordion{
        margin-top: 0;
        margin-left: 1em;
        margin-right: 1em;
        max-width: 35.8em;
    }
    .slide>img{
        width: 20em;
        height: 20em;
        margin-left: 1em;
        margin-right: 1em;
    }
}