.main_group{
    background-color: rgb(84, 121, 40);
}
.group_breadcrumb{
    margin-left: 3em;
    padding-top: 1em;
}
.breadcrumb-item>a{
    color: white;
    text-decoration: none;
}
.breadcrumb-item:hover{
    transform: scale(1.05);
}
.group_platz{
    margin: 0;
    margin-left: 3em;
    padding: 0;
}
.group_cart{
    width: 300px;
    background-color: white;
    margin: 1em;
    margin-left: 0;
    border-radius: 16px;
    background-color: rgb(126, 175, 65, 1);
}
.text_group{
    margin: auto;
}
.image_group{
    width: 40px;
    margin: auto;
    
}
.image_group>a>img{
    max-height: 100px;
    max-width: 100px;
}
.text_group>a{
    text-decoration: none;
    color: white;
}
.group_cart:hover{
    animation: myAnim 2s ease 0s 1 normal forwards;
    box-shadow: 0px 1px 17px 8px #FFFFFF;
}
@keyframes myAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}